<html>
<head>
    <title>CSC648 Team 02 - LingoMingo</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
<h2>Hello!</h2>
<p>Welcome to the about page for team2</p>

<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Role</th>
    </tr>
    <tr>
        <td>Cassie Sherman</td>
        <td>Team Lead</td>
    </tr>
    <tr>
        <td><a href="about/ryan">Ryan Hu</a></td>
        <td>Back End Lead</td>
    </tr>
    <tr>
        <td><a href="about/mariam">Mariam Shahab</a></td>
        <td>Front End Lead</td>
    </tr>
    <tr>
        <td><a href="about/sawara">Sawara Bhattarai</a></td>
        <td>GitHub Lead</td>
    </tr>
    <tr>
        <td><a href="about/dylan">Dylan Luong</a></td>
        <td>Database Lead</td>
    </tr>
    <tr>
        <td><a href="about/arjun">Arjun Bista</a></td>
        <td>Documentation Lead</td>
    </tr>
</table>
</body>
</html>