<html5>
    <head>
        <title>LingoMingo | lingomingo.app</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    </head>

    <body>

    <form action="" method="get">
        <label for="name">Search By Name</label>
        <input type="text" name="name" placeholder="Search By Name">


        <input type="submit">
    </form>
    <form>
        <label for="gender">Filter By Gender</label>
        <select id="gender" name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select>
        <input type="submit">
    </form>
    <a href="/register/"><button>Register</button></a>
    <a href="/login/"><button>Login</button></a>
    {% if profile_list %}
        <ul>
            {% for profile in profile_list %}
                <li><a href="/profile/{{ profile.id }}">{{ profile.name }}, {{ profile.email }}</a></li>
            {% endfor %}
        </ul>

    {% else %}
        <h1>NO PROFILES</h1>
    {% endif %}


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>
</html5>



