{% extends 'mainapp/base.html' %}

{% block title %}Messages{% endblock %}

{% load static %}

{% block content %}


    <head>
        <meta charset="utf-8"/>
        <title>Chat Room</title>
    </head>

    <link href="{% static 'css/m.css' %}" rel="stylesheet" type="text/css">
    <body>
    <textarea id="chat-log" cols="100" rows="20">{% for msg in messages %}{{ msg.created_by.username }}:&#13;
        {{ msg.body }}&#13;&#10;{% endfor %}</textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}


    <script>

        const scroll = () => {
            let textarea = document.getElementById('chat-log');
            textarea.scrollTop = textarea.scrollHeight;
        }

        const connect = () => {
            const roomName = JSON.parse(document.getElementById('room-name').textContent);
            let protocol = window.location.protocol
            console.log(protocol)
            let ws_type
            if (protocol === 'https:') {
                ws_type = 'wss://'
            } else {
                ws_type = 'ws://'
            }

            const chatSocket = new WebSocket(
                ws_type
                + window.location.host
                + '/ws/chat/'
                + roomName
                + '/'
            );

            chatSocket.onopen = () => {
                console.log('ws connected')
            }

            chatSocket.onmessage = (e) => {
                const data = JSON.parse(e.data);
                document.querySelector('#chat-log').append(data.user + ': \n' + data.message + '\n');
                scroll()
            };

            chatSocket.onclose = (e) => {
                console.error('Chat socket closed unexpectedly, will attempt to reconnect in 1 second');
                setTimeout(() => {
                    connect();
                }, 1000)
            };

            document.querySelector('#chat-message-input').focus();
            document.querySelector('#chat-message-input').onkeyup = function (e) {
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            };

            document.querySelector('#chat-message-submit').onclick = (e) => {
                const messageInputDom = document.querySelector('#chat-message-input');
                const message = messageInputDom.value;
                console.log(message)
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
                messageInputDom.value = '';
                scroll()
            };
        }
        connect()
        scroll()


        document.getElementById("nav-messages").className += " active";


    </script>

    <br>
    <br>
    <br>
    <br>
    <br>

    {#    TODO: INTEGRATE CHAT INTO FRONTEND UI#}
    {% if user.is_authenticated %}
        {% for thread in threads %}
            <p>{{ thread }}</p>
            {% for msg in thread.get_messages %}
                <p>{{ msg.created_by.username }}: {{ msg.body }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {#        <h3 class=" text-center">Messages</h3>#}


    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent Matches</h4>
                    </div>


                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
                    <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                    </span></div>
                    </div>
                </div>

                {% if user.is_authenticated %}
                    {% for thread in threads %}
                        <p>THREAD LOOP{{ thread }}</p>

                        <div class="chat_list">
                        <div class="chat_people">
                            <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                       alt="sunil"></div>
                            <div class="chat_ib">
                                <h5>{{ thread}}<span class="chat_date">April 14</span></h5>
                                <p>{{ thread.get_last_message}}</p>
                            </div>
                        </div>
                    </div>


                        {% for msg in thread.get_messages %}
                            <p>IM IN MSG LOOP{{ msg.created_by.username }}: {{ msg.body }}</p>

                        {% endfor %}



                    {% endfor %}
                {% endif %}


                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                       alt="sunil"></div>
                            <div class="chat_ib">
                                <h5>Ryan Hu<span class="chat_date">April 23</span></h5>
                                <p>I've learned many languages, but this one can be difficult.
                                    How well do you understand spanish?</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--- This is the message box on the right side of the screen -->
            <div class="mesgs">
                <div class="msg_history">
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>Hello.</p>
                                <span class="time_date"> 11:30 AM    |    April 14</span></div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>Hey Ryan, I'm new to this app.</p>
                            <span class="time_date"> 11:35 AM    |    April 14</span></div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>No way, that's cool to hear. I'm pretty good with teaching so what's up?</p>
                                <span class="time_date"> 1:23 PM    |    Yesterday</span></div>
                        </div>
                    </div>
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <p>I know a couple languages, but I'm still learning how to speak Spanish.
                                Hopefully, you know it well.</p>
                            <span class="time_date"> 9:15 AM    |    Today</span></div>
                    </div>
                    <div class="incoming_msg">
                        <div class="incoming_msg_img"><img src="https://ptetutorials.com/images/user-profile.png"
                                                           alt="sunil"></div>
                        <div class="received_msg">
                            <div class="received_withd_msg">
                                <p>I've learned many languages, but this one can be difficult.
                                    How well do you understand spanish?</p>
                                <span class="time_date"> 9:42 AM    |    Today</span></div>
                        </div>
                    </div>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <input type="text" class="write_msg" placeholder="Type a message"/>
                        <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o"
                                                                      aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>







{% endblock %}