{% extends 'mainapp/base.html' %}

{% block title %}Settings{% endblock %}
{% block content %}

    <h1>Settings</h1>



    <datalist id="countries">
        {% for c in country_list %}
            <option value="{{ c.name }}"></option>
        {% endfor %}
    </datalist>

    <form action="" method="post" class="text-center">
        {% csrf_token %}
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" value="{{ user.first_name }}">
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" value="{{ user.last_name }}">
        <br />
        Location:
        <input list="countries" name="location" value="{{ user.profile.get_location_full_name }}">
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    <br/>
    <div class="container">
        <datalist id="languages">
            {% for lang in languages %}
                <option value="{{ lang.name }}"></option>
            {% endfor %}
        </datalist>
        <div class="row">
            <div class="col">
                <h3>Add Primary Language</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <input list="languages" name="add_prime_lang">
                    <button type="submit" class="btn btn-success">Add</button>
                </form>

                Your Primary Languages:
                {% for lang in user_prime_lang %}
                    <li>
                        {{ lang.name }}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button name="remove_prime_lang" value="{{ lang.name }}">remove</button>
                        </form>
                    </li>
                {% endfor %}
            </div>
            <div class="col">
                <h3>Add Learning Language</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <input list="languages" name="add_learn_lang">
                    <button type="submit" class="btn btn-success">Add</button>
                </form>

                Your Primary Languages:
                {% for lang in user_learn_lang %}
                    <li>
                        {{ lang.name }}
                        <form action="" method="post">
                            {% csrf_token %}
                            <button name="remove_learn_lang" value="{{ lang.name }}">remove</button>
                        </form>
                    </li>
                {% endfor %}
            </div>
        </div>
    </div>


    <a href="{% url 'logout' %}">
        <button class="btn btn-danger">Logout</button>
    </a>
{% endblock %}